[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
blueprintflow = {file = ".", editable = true}
incremental = "*"
lancedb = "*"
litellm = "*"
pydantic = "*"
tomli-w = "*"

[dev-packages]
build = "*"
click = "*"
ipykernel = "*"
mypy = "*"
polars = "*"
twine = "*"
